.feature {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.featureIcon {
  font-size: 1.5rem;
  color: var(--white);
}

.featureLabel {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  color: var(--gray-5);
}
