.about-us-container {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: var(--white);
  letter-spacing: 2px;
}

.property-description {
  color: var(--white);

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.625rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-wrap: balance;
  }

  p {
    font-size: 1.25rem;
    line-height: 2.25rem;
    letter-spacing: 2px;
    margin-bottom: 2.5rem;
    text-wrap: pretty;
    max-width: 65ch;
  }
}

.about-description-image {
  height: 300px;
  aspect-ratio: 16/9;
  object-fit: cover;
  margin-block-end: 40px;
}
