.properties-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  width: 100%;
  max-width: 1280px;
  place-content: center;
  gap: 2.5rem;
  transition: opacity 1s cubic-bezier(0.5, 0, 0.75, 0) 2s, translate 1s cubic-bezier(0.5, 0, 0.75, 0) 2s;
  opacity: 1;
  translate: 0 0;

  @starting-style {
    opacity: 0;
    translate: 0 20px;
  }
}
