.propertyCard {
  padding: 0.375rem;
  background-color: var(--gray-1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.375rem;
  animation: reveal-card both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

.propertyCardImage {
  width: 100%;
  height: 234px;
  border-radius: 0.125rem;
  object-fit: cover;
}

.propertyCardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.375rem;
}

.propertyCardType {
  margin-bottom: .375rem;
}

.propertyCardAddress {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--white);
}

.propertyCardDistrict {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 2px;
  color: var(--gray-5);
  margin-bottom: 0.375rem;
}

.propertyCardFeatures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-block: 0.75rem;
  gap: 1rem 0.75rem;
  margin-bottom: 0.375rem;
}

.propertyCardFeature {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  letter-spacing: 2px;
  line-height: 1.5rem;
  color: var(--gray-5);
}

.propertyCardPrice {
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
}

.propertyCardExpenses {
  font-size: .75rem;
  line-height: 1.125rem;
  letter-spacing: 2px;
  color: var(--gray-5);
}

@keyframes reveal-card {
  from {
    opacity: 0;
    translate: 0 100px;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}
