.contactContainer {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  max-width: 400px;
  min-width: max-content;
}

.title {
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: var(--white);
  letter-spacing: 2px;
}

.contactInfoFields {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contactInfoField {
  display: flex;
  gap: 0.625rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  align-items: center;
  color: var(--white);
}

@media screen and (max-width: 1024px) {
  .contactContainer {
    gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .contactContainer {
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
  }

  .contactInfoContainer {
    max-width: none;
  }

  .contactInfoFields {
    align-self: center;
  }
}
