@use './reset';
@use './icons';
@use "slick-carousel/slick/slick";
@use "slick-carousel/slick/slick-theme";

:root {
  --gray-1: #111;
  --gray-2: #222;
  --gray-3: #555;
  --gray-5: #AAA;
  --gray-7: #D9D9D9;
  --gray-10: #FAFAFA;
  --red-1: #610000;
  --red-2: #904C4C;
  --blue-1: #002761;
  --blue-2: #4C5F90;
  --white: #FFF;
  --black: #000;

  --line-fade-duration: 2s;
}

* {
  font-family: var(--font-poppins), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-inline: 7.5rem;
  margin-inline: auto;
  position: relative;

  &::before,
  &::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: oklch(from var(--white) l c h / 0.12);
    transition: opacity var(--line-fade-duration) cubic-bezier(0.5, 0, 0.75, 0);
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  &::before {
    left: 2.5rem;
  }

  &::after {
    right: 2.5rem;
  }
}

.main-container {
  flex: 1;
  padding-block: 5rem;
  padding-inline: calc(7.5rem - 17px / 2);
}

.link {
  color: var(--white);
  transition: color 0.2s;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 2px;

  &:hover {
    color: var(--gray-5);
  }
}

.grecaptcha-badge { visibility: hidden; }

select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%233c3c3c%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2.5rem 4rem;

    &::before {
      left: 1.25rem;
    }
  
    &::after {
      right: 1.25rem;
    }
  }
}

::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0)-out;
}
