.propertyContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.propertyInfoContainer {
  display: flex;
  gap: 2.5rem;
}

.propertyInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.propertyAddress {
  font-size: 2.5rem;
  line-height: 3.75rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--white);
}

.propertyDistrict {
  line-height: 1.5rem;
  letter-spacing: 2px;
  color: var(--gray-5);
  margin-bottom: 0.75rem;
}

.propertyFeatures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 0.75rem;
  margin-bottom: 0.75rem;
}

.propertyPrice {
  font-size: 2.5rem;
  line-height: 3.75rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
}

.propertyPrice {
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  margin-top: auto;
}

.propertyExpenses {
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: 2px;
  color: var(--gray-5);
  margin-bottom: 0.75rem;
}

.propertyContactCta {
  display: flex;
  gap: 0.5rem;
  color: var(--white);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.875rem;
  border-radius: 0.5rem;
  border: 1px solid var(--white);
  background-color: oklch(from var(--white) l c h / 0.12);
  align-items: center;
}

.propertyDescription {
  max-width: 82ch;
  color: var(--white);

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.625rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-wrap: balance;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 0.75rem;
    text-wrap: pretty;
  }
}

.propertyBackLink {
  display: flex;
  gap: .625rem;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  color: var(--white);
  align-items: center;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .propertyInfoContainer {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .propertyInfoWrapper {
    display: contents;
  }

  .transactionType {
    order: 1;
  }

  .propertyAddress {
    order: 2;
  }

  .propertyDistrict {
    order: 3;
  }

  .assetViewer {
    order: 4;
  }

  .propertyFeatures {
    order: 5;
    margin-top: 0.75rem;
  }

  .propertyPrice {
    order: 6;
    margin-top: 0.75rem;
  }

  .propertyExpenses {
    order: 7;
  }

  .propertyContactCta {
    order: 8;
    margin-top: 0.75rem;
  }
}

@media screen and (max-width: 500px) {
  .propertyContactCta {
    width: 100%;
    justify-content: center;
  }

  .propertyFeatures {
    grid-template-columns: 1fr 1fr;
  }

  .propertyAddress,
  .propertyPrice {
    font-size: 2.25rem;
  }
}
