.propertyContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.propertyInfoContainer {
  display: flex;
  gap: 2.5rem;
}

.propertyInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.propertyAddress {
  font-size: 2.5rem;
  line-height: 3.75rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--white);
}

.propertyDistrict {
  line-height: 1.5rem;
  letter-spacing: 2px;
  color: var(--gray-5);
  margin-bottom: 0.75rem;
}

.propertyFeatures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 0.75rem;
  margin-bottom: 0.75rem;
}

.propertyPrice {
  font-size: 2.5rem;
  line-height: 3.75rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
}

.property-price {
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  margin-top: auto;
}

.propertyExpenses {
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: 2px;
  color: var(--gray-5);
  margin-bottom: 0.75rem;
}

.propertyContactCta {
  display: flex;
  gap: 0.5rem;
  color: var(--white);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.875rem;
  border-radius: 0.5rem;
  border: 1px solid var(--white);
  background-color: oklch(from var(--white) l c h / 0.12);
  align-items: center;
}

.propertyDescription {
  max-width: 82ch;
  color: var(--white);

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.625rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-wrap: balance;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 0.75rem;
    text-wrap: pretty;
  }
}

.property-back-link {
  display: flex;
  gap: .625rem;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  color: var(--white);
  align-items: center;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .property-info-container {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .property-info-wrapper {
    display: contents;
  }

  .transaction-type {
    order: 1;
  }

  .property-address {
    order: 2;
  }

  .property-district {
    order: 3;
  }

  .asset-viewer {
    order: 4;
  }

  .property-features {
    order: 5;
    margin-top: 0.75rem;
  }

  .property-price {
    order: 6;
    margin-top: 0.75rem;
  }

  .property-expenses {
    order: 7;
  }

  .property-contact-cta {
    order: 8;
    margin-top: 0.75rem;
  }
}

@media screen and (max-width: 500px) {
  .property-contact-cta {
    width: 100%;
    justify-content: center;
  }

  .property-features {
    grid-template-columns: 1fr 1fr;
  }

  .property-address,
  .property-price {
    font-size: 2.25rem;
  }
}
