.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border: none;
  padding: 10px;
  width: calc(1ch + 20px);
  background-color: transparent;
  cursor: pointer;

  &.sm {
    height: 60px;

    &::before {
      text-shadow: 0px 0px 2px var(--black);
    }
  }

  &.lg {
    height: 80px;
    background: rgba(0,0,0,0.75);
  }

  &::before {
    font-family: 'solo-loft';
    position: absolute;
    color: var(--white);
    transform: translate(-50%, -50%);
    content: "\ea04";
    font-size: 24px;
  }

  &.left {
    left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &.right {
    right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    &::before {
      transform-origin: 0 0;
      rotate: 180deg;
    }
  }
}
